<mat-grid-list cols="6" rowHeight="200px">
    <mat-grid-tile position="left">
        <mat-card>
            <img mat-card-image src="/assets/img/dr-muhibur-rahman-jewel.jpg">
        </mat-card>        
    </mat-grid-tile>
</mat-grid-list>
<mat-card>
    <mat-card-title>Dr Mubihur Rahman Jewel</mat-card-title>
    <mat-card-subtitle>Medical Officer at Sylhet MAG Osmani Medical College Hospital<br>
        Medical Officer at Government of the People's Republic of Bangladesh, Employees.</mat-card-subtitle>
    <mat-card-content>
        Former RMO at Apollo hospitals
        <br>
        <h3>Education</h3>
        FCPS (Medicine) at Bangladesh College of Physicians and surgeons<br>
        MBBS at Dhaka Medical College and Hospital
        <h3>Hobbies</h3>
        Traveling<br>
        Reading<br>
        Watching Cricket Match<br>
        Playing<br>
        Listening Islamic Lecture<br>
    </mat-card-content>
</mat-card>