<mat-list role="list">
    <mat-list-item role="listitem"><a [routerLink]="['']" routerLinkActive="router-link-active">Home</a></mat-list-item>
    <mat-list-item role="listitem"><a [routerLink]="['/admin']" routerLinkActive="router-link-active">Dashboard</a></mat-list-item>
    <mat-list-item role="listitem"><a [routerLink]="['']" routerLinkActive="router-link-active">My Account</a></mat-list-item>
    <mat-list-item role="listitem"><a [routerLink]="['add-appointment']" routerLinkActive="router-link-active">Add Appointment</a></mat-list-item>
    <mat-list-item role="listitem"><button mat-raised-button color="primary">Logout</button></mat-list-item>
</mat-list>